@import url('https://fonts.googleapis.com/css?family=Audiowide|Righteous|Shojumaru');

body {
	background: url(../img/back.jpg) no-repeat center top;
	height: 74vh;
	font-family: 'Audiowide', cursive;
	font-weight: 300;
	font-size: 40px;
	
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-backgraund-size: cover;
	backgraund-size: cover;
	-webkit-font-smooting: antialiased;
	-webkit-overflow-scrolling: touch;

	margin-top: 90px;
	margin-bottom: 90px;
}

@media (min-width: 768px)
header .container {
	height: 100vh;
    padding-top: 0px;
    padding-bottom: 0px;
}

.container {
	padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

img {
	width: auto; 
  	max-width: 100%;
  	max-height: 100vh;
  	margin: auto; 
}

.centered {
	text-align: center;

}

a {
	color: #D8E2DC;
}

a:hover, a:focus {
	text-decoration: none;
	outline: 0;
	color: #A2ADB8;
  	text-shadow: 0 0 15px #A2ADB8;
 	transition: all 0.5s ease;
}

.fa {
	color: #D8E2DC;
}

.fa-telegram:hover, .fa-telegram:focus {
	text-decoration: none;
	outline: 0;
	color: #239AD6;
  	text-shadow: 0 0 15px #239AD6;
 	transition: all 0.5s ease;
}

.fa-instagram:hover, .fa-instagram:focus {
	text-decoration: none;
	outline: 0;
	color: #bc2a8d;
  	text-shadow: 0 0 15px #bc2a8d;
 	transition: all 0.5s ease;
}

.fa-vk:hover, .fa-vk:focus {
	text-decoration: none;
	outline: 0;
	color: #5B88BD;
  	text-shadow: 0 0 15px #5B88BD;
 	transition: all 0.5s ease;
}

audio {
	-webkit-transition:all 0.2s linear;
	-moz-transition:all 0.2s linear;
	-o-transition:all 0.2s linear;
	transition:all 0.2s linear;
	-moz-box-shadow: 1px 1px 1px 1px #69536a;
	-webkit-box-shadow: 1px 1px 1px 1px #69536a;
	box-shadow: 1px 1px 1px 1px #69536a;
	-moz-border-radius: 0px 0px 0px 0px ;
	-webkit-border-radius: 0px 0px 0px 0px ;
	border-radius: 1px 1px 1px 1px ;
}

audio:hover, audio:focus, audio:active {
	-webkit-box-shadow: 0px 0px 20px rgba(0,0, 0, 0.4);
	-moz-box-shadow: 0px 0px 20px rgba(0,0, 0, 0.4);
	box-shadow: 0px 0px 20px rgba(0,0, 0, 0.4);
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	transform: scale(1.05);
}

#headerwrap {
	background-size: cover;
	margin-top: 0px;
	padding-top: 20px;
	text-align: center;
	background-attachment: relative;
	background-position: center center;
	min-height: 700px;
	width: 100%;

	height: auto;

	-webkit-backgraund-size: cover;
	-moz-backgraund-size: cover;
	-o-backgraund-size: cover;
	backgraund-size: cover;
}